.landing-container {
  .landing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    // padding-bottom: 29rem;
    padding-top: 8rem;
    // background-color: red;
    width: 85%;
    margin: auto;
    h1 {
      margin-bottom: 1rem;
      color: #342a57;
      font-size: 2.5rem;
      line-height: 2.7rem;
      font-weight: 500;
    }
    p{
      font-size: 1.4rem;
    }
    button {
      margin-top: 1rem;
      margin-bottom: 2.5rem;
      padding: 10px;
      outline: none;
      border-radius: 5px;
      border: none;
      background-color: #7551e9;
      color: #ffffff;
      width: 40%;
      a{
        color: #ffffff;
      }
    }
    // button{
    //   display: none;
    // }
  }
  .mock-container {
    position: relative;
    .mock-up-content {
      position: fixed;
      flex-direction: column;
      width: 100%;
      top: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        display: flex;
        margin-top: 1.7rem;
        a {
          margin-left: 0.5rem;
        }
      }
      div {
        width: 250px;
        padding: 15px;
        background-color: white;
        margin-bottom: 1rem;
        border-radius: 5px;
      }
      .mockdp {
        width: 40%;
        margin-bottom: 1.5rem;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.project-section {
  background-color: #ffffff;
  .about-number {
    font-size: 2rem;
    color: #20c5d3;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  h1 {
    text-align: center;
    font-size: 24px;
  }
  .projects-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    .project {
      background-color: white;
      display: flex;
      border-radius: 5px;
      box-shadow: 0px 12px 12px rgba(255, 255, 255, 0.3),
        0px 16px 24px rgba(50, 50, 71, 0.08);
      margin-bottom: 1rem;
      flex-direction: column; //flip for larger screen
      div {
        span {
          img {
            height: 250px;
          }
        }
        .project-mobile-title {
          font-size: 24px;
          font-weight: 400;
          text-align: unset;
          padding: 5px;
        }
      }
      .project-info {
        display: flex;
        flex-direction: column;
       padding: 10px;
        .project-lg-title {
          display: none;
        }
        button {
          width: 100px;
      
          border-radius: 5px;
          margin-top: 0.5rem;
          // color: #ffffff;
          color: #7551e9;
          background: transparent;
          padding: 10px;
          border: none;
          border: 1px solid #7551e9;
          a{
           color: #7551e9;
          }
        }
      }
    }
  }
}

.about-section {
  h1 {
    text-align: center;
    font-size: 24px;
  }
  .about-number {
    font-size: 2rem;
    color: #20c5d3;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  padding-top: 3rem;
  .about-container {
    position: relative;
    width: 90%;
    margin: auto;
    &::before {
      content: "";
      position: absolute;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.212);
      width: 100%;
      bottom: 0;
    }
    .about-placeholder {
      position: relative;

      .about-info {
        position: absolute;
        transform: scale(0.7);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        top: 0;
        left: 0;
        right: 0;
        // left: 20%;
        // right: 20%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        p {
          padding: 10px;
          font-size: 12px;
          text-align: center;
          color: #e5f9f0;
          letter-spacing: 0.1rem;
        }
        button {
          padding: 5px;
          border-radius: 5px;
          background-color: #22faa7;
          font-size: 12px;
          color: rgba(0, 0, 0, 0.729);
          border: none;
        }
        .abt-img {
          width: 25%;
        }
      }
    }
  }
}
.tech-section {
  padding-top: 3rem;
  padding-bottom: 5rem;
  h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .tech-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    p {
      background-color: #f5f7f8;
      text-align: center;
      margin: 5px;
      border-radius: 5px;
      padding: 15px 20px 15px 20px;
      font-weight: 900;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
  }
}

.contact-section {
  padding-top: 3rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.212);
    width: 100%;
    bottom: 0;
  }
  h1 {
    text-align: center;
    font-size: 34px;
  }
  p {
    padding:5px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 24px;
    // font-weight: 600;
    text-align: center;
  }
  button {
    padding: 10px;
    background-color: #7551e9;
    border: none;
    border-radius: 5px;
    color: #fafffd;
  }
}

footer {
  // background-color: #2e4b48;
  // background-color: #0e1e25;

  padding: 10px;
  padding-top: 2rem;
  // padding-top: 10rem;
  .footer-container {
    display: flex;
    flex-direction: column;
    .footer-links {
      padding: 10px;
      margin-bottom: 2rem;
      ul {
        li {
          color: rgba(0, 0, 0, 0.763);
          line-height: 1.5rem;
          font-size: 17px;
        }
      }
    }
  }
  .social-links {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid gray;
    padding: 10px;
    align-items: center;

    li {
      .fa-instagram,
      .fa-twitter,
      .fa-whatsapp,
      .fa-github {
        // background: rgba(36, 83, 106, 0.51);
     
        background-color: #7551e9;
        color: white;
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 50px;
        &:hover {
          background: #38df9e;
        }
      }
    }
  }
}
