@media screen and (min-width:764px){
  .landing-container{
    .landing-content{
      h1{
        font-size: 3.2rem;
        font-weight: 400;
        width: 80%;
      }
      p{
        font-size: 1.3rem;
        width: 70%;
      }
      button{
        margin-top: 3rem;
        // padding: 10px 40px 10px 20px;
        padding: 20px;
        width: 20%;
      
        font-size: 18px;
        font-weight: 500;
      }
    }
    .mock-container{
      img{
        width: 80%;
      }

    }
  }
}

//project section
@media screen and (min-width:764px){
  .project-section{
    h1{
      font-size: 3.2rem;
      font-weight: 400;
     
    }
    .projects-container{
      .project{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        div{
          span{
            img{
              height: 100%;
            }
          }
          h1{
            font-weight: 600;
            font-size: 20px;
          }
        }
        .project-info{
          width: 50%;
          p{
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
           
          }
          button{
            width: 50%;
          }
        }
      }
    }
  }
}