.landing-container {
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    // padding-bottom: 29rem;
    padding-top: 5rem;
    // background-color: red;
    width: 90%;
    margin: auto;
    h1{
      margin-bottom: 1rem;
    }
  }
}

.project-section {
  padding-top: 2rem;
  padding-bottom: 4rem;
  margin-top: -5rem;

  background-color: rgba(5, 166, 96, 0.03);

  h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .about-number{
    margin-bottom: 1rem;
    font-size: 41px;
    font-weight: 600;
    color: #a0bcf810;
    
    }
  .projects-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    .project {
      background: #ffffff;
      border-radius: 5px;
      // box-shadow: 0px 37.28305435180664px 13.914677619934082px 0px
      //   rgba(0, 0, 0, 0);

      // box-shadow: 0px 58.426979064941406px 111.12582397460938px 0px
      //   rgba(0, 0, 0, 0.11);
      box-shadow: 0px 12px 12px rgba(255, 255, 255, 0.3), 0px 16px 24px rgba(50, 50, 71, 0.08);

      display: flex;
      // justify-content: space-around;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      padding-bottom: 5rem;
      width: 100%;
      margin-bottom: 3px;
      p {
        text-align: center;
      }
      button {
        margin-top: 1.5rem;
        padding: 10px;
        background-color: #05a660;
        border: none;
        outline-color: #e5f9f0;
        color: #e5f9f0;
        border-radius: 5px;
      }
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          font-size: 20px;
          font-weight: 500px;
        }
        span {
          img {
            width: 50px;
          }
        }
      }
    }
  }
}

.about-section {
  padding-top: 3rem;
  padding-bottom: 6rem;
  h1 {
    text-align: center;
  }
  .about-number{
  margin-bottom: 1rem;
  font-size: 41px;
  font-weight: 600;
  color: #a0bcf810;
  
  }
  .about-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .about-placeholder {
      width: 100%;
      background: rgba(227, 255, 241, 1);
      padding: 20px;
      padding-right: 5rem;
      margin-bottom: 1.5rem;
    }
    .about-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      button {
        background: #05a660;
        border-radius: 5px;
        padding: 10px;
        border: none;
        color: #e5f9f0;
        outline-color: #e5f9f0;
        margin-top: 1.5rem;
      }
    }
  }
}

.tech-section {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-color: rgba(5, 166, 96, 0.05);
  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .tech-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img {
      width: 30%;
    }
  }
}

.contact-section {
  padding-top: 3rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
    color: rgba(36, 83, 106, 0.51);
  }
  p {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  button {
    padding: 10px;
    background-color: #05a660;
    border: none;
    border-radius: 5px;
    color: #e5f9f0;
  }
}

footer {
  background-color: #2e4b48;
  color: #e5f9f0;
}
