.landing-container {

  .landing-content {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    // padding-bottom: 29rem;
    padding-top: 5rem;
    // background-color: red;
    width: 90%;
    margin: auto;
    h1 {
      margin-bottom: 1rem;
      font-size: 30px;
    }
    button{
      display: none;
    }
  }
  .mock-container{
    &:hover{
      cursor: pointer;
    }
  }
}

.project-section {
  padding-top: 1rem;
  padding-bottom: 4rem;
  margin-top: -5rem;

  background-color: rgba(5, 166, 96, 0.03);

  h1 {
    text-align: center;
    color: rgba(36, 83, 106, 0.51);
  }
  .about-number {
    margin-bottom: 1rem;
    font-size: 41px;
    font-weight: 600;
    color: #2f968b4f;
  }
  .projects-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    .project {
      border-radius: 15px;
      background: #ffffff;

      box-shadow: 0px 12px 12px rgba(255, 255, 255, 0.3),
        0px 16px 24px rgba(50, 50, 71, 0.08);
      border: 1px solid #c9d7d553;
      display: flex;

      flex-direction: column;
      align-items: center;
      padding: 20px;
      padding-bottom: 5rem;

      width: 100%;
      margin-bottom: 1rem;

      p {
        text-align: center;
      }
      button {
        margin-top: 1.5rem;
        padding: 10px;
        background-color: rgba(44, 204, 156, 1);
        border: none;
        outline-color: #e5f9f0;
        color: #fafffd;
        border-radius: 5px;
      }
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          font-size: 20px;
          font-weight: 500px;
          color: #2e4b48;
        }
        span {
          img {
            width: 50px;
          }
        }
      }
    }
  }
}

.about-section {
  padding-top: 2rem;
  padding-bottom: 6rem;
  h1 {
    text-align: center;
    color: rgba(36, 83, 106, 0.51);
  }
  .about-number {
    margin-bottom: 1rem;
    font-size: 41px;
    font-weight: 600;
    color: #2f968b4f;
  }
  .about-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0px 12px 12px rgba(255, 255, 255, 0.3),
      0px 16px 24px rgba(50, 50, 71, 0.08);

    align-items: center;
    .about-placeholder {
      width: 100%;
      background: rgba(227, 255, 241, 1);
      padding: 20px;
      padding-right: 5rem;
      margin-bottom: 1.5rem;
      img {
        width: 50%;
        margin-top: -2rem;
      }
    }
    .about-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      p{
        padding: 0 20px;
      }

      button {
        background: rgba(44, 204, 156, 1);
        border-radius: 5px;
        padding: 15px;
        font-size: 14px;
        border: none;
        color: #fafffd;
        outline-color: #e5f9f0;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}

.tech-section {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-color: rgba(5, 166, 96, 0.05);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: rgba(36, 83, 106, 0.51);
  }
  .tech-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    img {
      width: 30%;
      margin-left: 5px;
    }
  }
}

.contact-section {
  padding-top: 3rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
    font-size: 34px;
    color: rgba(36, 83, 106, 0.51);
  }
  p {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  button {
    padding: 10px;
    background-color: rgba(44, 204, 156, 1);
    border: none;
    border-radius: 5px;
    color: #fafffd;
  }
}

footer {
  background-color: #2e4b48;
  background-color: #0e1e25;

  padding: 10px;
  padding-top: 2rem;
  // padding-top: 10rem;
  .footer-container {
    display: flex;
    flex-direction: column;
    .footer-links {
      padding: 10px;
      margin-bottom: 2rem;
      ul {
        li {
          color: #e5f9f0;
          line-height: 1.5rem;
          font-size: 17px;
        }
      }
    }
  }
  .social-links {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid gray;
    padding: 10px;
    align-items: center;

    li {
   
   
      .fa-instagram,
      .fa-twitter,
      .fa-whatsapp,
      .fa-github {
        // background: rgba(36, 83, 106, 0.51);
        background-color: rgba(44, 204, 156, 1);
        color: white;
        margin-right: 2rem;
        display: flex;
        align-items: center;
        padding: 5px;
        border-radius: 50px;
      }
    }
  }
}
