@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500&display=swap");
@import "./component/sass/component.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}
li,
a {
  text-decoration: none;
  list-style: none;
  color: #1d4556;
}
li,
a:hover {
  cursor: pointer;
}
button:hover{
  cursor: pointer;
}

h1 {
  color: #1d4556;
  font-size: 38.5px;
}
img {
  width: 100%;
  object-fit: cover;
}
[data-src]{
  min-width: 200px;
  min-height: 800px;
}
p {
  font-size: 16px;
  color: #1d4556dd;
}
// img{
//   width: 100%;
//   object-fit: cover;
// }
